

h1,
h2,
h3{
    background-color: blue;
    color:orangered;
    text-align: center;
}
.jumbotron{
    background-color: blue;
}

body{
    background-image: url(trainpic.jpg);
}

.container{
    background-color: orangered;
}

tr{
    text-align: center;
}