

h1,
h2,
h3{
    background-color: blue;
    color:orangered;
    text-align: center;
    font-family: fantasy;
    padding: 20px;
}
.jumbotron{
    background-color: blue;
}

body{
    background-image: url(trainpic.jpg);
}

.container{
    background-color: orangered;
}

tr{
    text-align: center;
}

#full-train-list,
th,td{
text-align: center;
color: aliceblue;
margin-left: auto;
margin-right: auto;
padding: 40px;
border-collapse: collapse;
border: 1px solid gray;
margin-bottom: 20px;

}